<div style="height: 100vh; width: 100vw; position: absolute;" class="background-img ">
    <div>
        <ion-content padding="true" scroll="true" drag-content="false">
            <div class="container-fluid">
                <form name="formGarage">
                    <br>
                    <div>
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" name="name" ng-model="garage.name" placeholder="Nome" required="">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" ng-model="garage.email" placeholder="E-mail" required="">
                        </div>
                        <!--                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" name="password" class="form-control" ng-model="garage.password" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <label>Confirmar Senha</label>
                            <input type="password" name="passwordConfirm" class="form-control" ng-model="garage.passwordConfirm" placeholder="Confirmas Senha">
                        </div>
                        <span ng-show="garage.password != garage.passwordConfirm && formGarage.passwordConfirm.$dirty">As senhas não correspondem</span>-->
                        <div class="form-group">
                            <label>CEP</label>
                            <input type="text" class="form-control" name="cep" ng-model="garage.cep" placeholder="CEP" required="">
                        </div>
                        <div class="form-group">
                            <label>Ano Nascimento</label>
                            <input type="number" class="form-control" ng-model="garage.born_year" name="bornyear" placeholder="Ano Nascimento" required="">
                        </div>
                        <div class="form-group">
                            <label>Telefone</label>
                            <input type="text" class="form-control" ng-model="garage.cellphone" name="cellphone" required="" ui-mask="(48)9999-9999">
                        </div>
                        <div class="form-group">
                            <label>Obs</label>
                            <textarea class="form-control" ng-model="garage.description" required="" name="description" placeholder="Descrição da garage"
                                rows="8" cols="10"></textarea>
                        </div>
                        <div class="form-groupLogin">
                            <button ng-disabled="formGarage.$invalid" class="btn btn-primary btn-lg btn-block" ng-click="edit(garage)">Atualizar</button><br>
                        </div>
                        <div class="form-groupLogin">
                            <button class="btn btn-primary btn-lg btn-block" ng-click="back()">Voltar</button><br>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <span>{{erro}}</span>
                </div>
                <div class="text-center">
                    <span>{{success}}</span>
                </div>
            </div>
        </ion-content padding="false" scroll="true" drag-content="true">
    </div>
</div>