<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>

    <ion-header-bar class="bar-positive">
      <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
      <div>
        <h3 class="col" style="margin-left:65px; margin-bottom: 10px ">Meu Mecânico</h3>
      </div>
    </ion-header-bar>

    <ion-nav-view name="side-menu">
    </ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-list>
      <ion-item></ion-item>
    </ion-list>
  </ion-side-menu>
</ion-side-menus>