<div style="height: 100vh; width: 100vw; position: absolute;" class="background-img ">
    <div>
        <ion-content padding="true" scroll="true" drag-content="false">
            <div class="container-fluid">
                <div>
                    <label>Nome Oficina: </label><br>
                    <span>{{rec.garage.obj.name}}</span>
                </div>
                <hr>
                <div>
                    <label>Usuário: </label><br>
                    <span>{{rec.client.name}}</span>
                </div>
                <hr>
                <div class="form-group">
                    <label>Nota</label>
                    <input type="range" class="form-control" ng-model="rec.grade" id="input" type="range" min="0" max="4"
                        step="1">{{rec.grade}}
                    <!--                    <div class="row">
                        <td id="output1" style="padding:25px"></td>
                        <td id="output2" style="padding:50px"></td>
                        <td id="output3"><th</td>
                        <td id="output4"></td>
                        <td id="output5"></td>
                    </div>-->
                    <table style="width:100%">
                        <tr>
                            <th style="width: 4%"></th>  
                            <th id="output1" style="width:22.5%"></th>
                            <th id="output2" style="width:22%"></th>
                            <th id="output3" style="width:22.5%"></th>
                            <th id="output4" style="width:21.5%"></th>
                            <th id="output5" style="width:22%"></th>
                        </tr>
                    </table>
                </div>

                <hr>
                <div class="form-group">
                    <label>Recomendação:</label>
                    <textarea class="form-control" ng-model="rec.description" placeholder="Escreva aqui sua recomendação" rows="8" cols="10"></textarea>
                </div>
                <div class="form-groupLogin">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="cadastro(rec)">Adicionar Recomenação</button><br>
                </div>
                <div class="form-groupLogin">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="home()">Voltar</button><br>
                </div>
            </div>
        </ion-content padding="false" scroll="true" drag-content="true">
    </div>
</div>