<div style="height: 100vh; width: 100vw; position: absolute;" class="background-img ">
    <div>
        <ion-content padding="true" scroll="true" drag-content="false">
            <legend style="text-align: left">Adicionar Recomendação</legend>
            <div class="container-fluid">
                <div>
                    <label>Nome Oficina: </label><br>
                    <span>{{rec.garage.name}}</span>
                </div>
                <hr>
                <div>
                    <label>Usuário: </label><br>
                    <span>{{rec.client.name}}</span>
                </div>
                <hr>
                <div class="form-group">
                    <label>Nota</label>
                    <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
                </div>
                <hr>
                <div class="form-group">
                    <label>Recomendação:</label>
                    <textarea class="form-control" ng-model="rec.description" placeholder="Escreva aqui sua recomendação" rows="8" cols="10"></textarea>
                </div>
                <div class="form-groupLogin">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="cadastro(rec)">Adicionar Recomenação</button><br>
                </div>
                <div class="form-groupLogin">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="home()">Voltar</button><br>
                </div>
            </div>
        </ion-content padding="false" scroll="true" drag-content="true">
    </div>
</div>