<div style="height: 100vh; width: 100vw; position: absolute;" class="background-img ">
    <div>
        <ion-content padding="true" scroll="true" drag-content="false">
            <div class="container-fluid">
                <div>
                    <label>Nome Oficina: </label><br>
                    <span>{{garage.obj.name}}</span>
                </div>
                <hr>
                <div>
                    <label>E-mail: </label><br>
                    <span>{{garage.obj.email}}</span>
                </div>
                <hr>
                <div>
                    <label>CEP: </label><br>
                    <span>{{garage.obj.cep}}</span>
                </div>
                <hr>
                <div>
                    <label>?: </label><br>
                    <span>{{garage.obj.born_year}}</span>
                </div>
                <hr>
                <div>
                    <label>Data entrada no Sistema: </label><br>
                    <span>{{garage.obj.creation_time}}</span>
                </div>
                <hr>
                <div>
                    <label>Descrição: </label><br>
                    <span>{{garage.obj.description}}</span>
                </div>
                <br>
                <div class="form-groupLogin">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="addRecomendacao(garage)">Adicionar Recomenação</button><br>
                </div>
                <div class="form-groupLogin">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="cadastro()">Visualizar Recomendações</button><br>
                </div>
                <div class="form-groupLogin">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="home()">Voltar</button><br>
                </div>
                <!--                <div class="text-center">
                    <span>{{erro}}</span>
                </div>
                <div class="text-center">
                    <span>{{success}}</span>
                </div>-->
            </div>
        </ion-content padding="false" scroll="true" drag-content="true">
    </div>
</div>