<div style="height: 100vh; width: 100vw; position: absolute;" class="background-img ">
    <div>
        <ion-content padding="true" scroll="true" drag-content="false">
            <legend style="text-align: left">Recomendações da Oficina</legend>
            <div class="container-fluid">
                <div ng-repeat="review in reviews">
                    <div style="background-color: white">
                        <div class="w3-panel w3-card-4">
                            <p>Oficina: {{garage.name}}</p>
                            <p>Usuário: {{review.name}}</p>
                            <p>Data Recomendação: {{review.creation_review | date: "dd/MM/yyyy" }}</p>
                            <p>Nota: {{review.grade}}</p>
                            <p>Descrição: {{review.review}}</p>
                            <p class="text-center">
                                <button type="button" ng-click="visualizarOficina(garage)" class="btn btn-primary btn-sm">Visualizar Oficina</button>
                                <button type="button" ng-click="home()" class="btn btn-primary btn-sm">Voltar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content padding="false" scroll="true" drag-content="true">
    </div>
</div>