.logo {
    font-family: "Neo Sans Bold";
    font-size: 35px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    background-color: royalblue;
}


.background-img {
    background: lightgrey;
}

.login {
    color: #fff;
    text-align: center;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
}
.btn {
        margin-right: 3px;
    margin-left: 3px;
}

.inputLogin {
    color: #fff;
    margin-right: 3px;
    margin-left: 3px;
}

.form-groupLogin {
  margin-bottom: 1px;
}