<div id="login" style="height: 100vh; width: 100vw; position: absolute;"
        <div class="box-login">
            <div class="logo">Oficina</div>
                <form class="list" name="loginFormEmail" novalidate>
                    <div class="box-form">
                        <div ng-show="error" class="alert alert-danger text-center">
                            <span ng-bind="error"></span>
                        </div>
                        <input type="email" placeholder="Email" ng-model="user.username" required="required">
                        <input type="password" placeholder="Senha" ng-model="user.password" required="required">
                        {{user}}
                        <button class="bt-blue-dark" ng-click="login(user)" ng-disabled="loginFormEmail.$invalid || loginInProgress" >
                            <span ng-if="loginInProgress" class="fa fa-circle-o-notch fa-spin"></span><span> Entrar</span>
                        </button>

                        <a href="#" class="link-recover">Esqueci a senha</a>
                    </div>
                </form>
            </div>
    </div>
</div>
